.video {
  grid-area: video;
}

.title {
  grid-area: title;
  text-align: center;
}

.title h1 {
  margin: 0;
}

.keywords {
  grid-area: keywords;
  padding: 1vh;
}

.chatroom {
  grid-area: chatroom;
  padding: 1vh;
}

.map {
  grid-area: map;
  padding: 1vh;
}

.chapters {
  grid-area: chapters;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-template-areas:
    "title title title title title"
    "chapters video video video chatroom"
    "map  video video video chatroom"
    "map keywords keywords keywords chatroom";
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-areas:
      "title title title title title"
      "chapters chapters chapters chapters chapters"
      "video video video video video"
      "keywords keywords keywords keywords keywords"
      "map map map map map"
      "chatroom chatroom chatroom chatroom chatroom";
  }

  .map {
    height: 40vh;
  }
}
